:root{

  --blue: #2699FB;
  --lightBlue: #F1F9FF;
  --green: #1BFE1B;
  --borderColor: #C0E2fd;

  --white:#FFFFFF;
  --gray:#707070;
  --green:#228c22;
  --blue-deep:#2699FB;
  --blue-light:#BCE0FD;
  --blue-white:#F1F9FF;
  --form-bg:#E4E4E4;

  --white-rgb: 255, 255, 255;
  --gray-rgb: 112, 112, 112;
  --green-rgb: 34, 140, 34;
  --blue-deep-rgb: 38, 153, 251;
  --blue-light-rgb:188, 224, 253;
  --blue-white-rgb:241, 249, 255;
  --form-bg-rgb:228, 228, 228;

  --max-mobile: 400px;
  --max-tablet: 768px;
  --max-desktop-sm: 992px;
  --max-deskop-lg: 1200px; 
  --max-deskop-xl: 1400px; 
}

/* UNIVERSAL STYLE */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  font-family: "Roboto";
  margin: 0px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
  background-color: var(--blue);
  color: white;
  width: 100%;
  height: 60px;
  margin: auto;
}

/* button {
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
} */



h1,
h2 {
  color: #fff;
}

h3,p,small {
  color: var(--blue);
}

/* h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1rem;
} */


/* input {
  display: block;
  width: 100%;
  color: var(--blue);
  background-color: var(--lightBlue);
  border: 1px solid var(--borderColor);
  outline: none;
} */

input::placeholder {
  color: var(--blue);
}

/* input:focus {
  border: 1.5px solid var(--blue);
  transition: border .5s;
} */

/* .container {
  padding: .2rem 1rem;
}
  */
/* .more-content button {
  display: flex;
  align-items: center;
  padding: .9rem .5rem;
} */

/* .more-content button:hover {
  background-color: var(--lightBlue);
} */

/* .more-content svg,
.more-content span {
  vertical-align: middle;
} */

/* .icon {
  fill: var(--blue);
} */

/* .more-content button span {
  margin-left: .5rem;
  font-size: .8rem;
  color: var(--blue)
} */




















.title{
  font-family: "Arial Black", Helvetica, sans-serif;
}


/* Login & Register components */

/* .Login, .Register {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.Login .title {
  margin-bottom: 25px;
}

#btn-login {
  width: 100%;
  background-color: var(--blue-deep);
  border-radius: 3px;
  padding: 5px;
  border: none;
  margin: 10px auto 30px auto;
}

.form-group{
  margin-top: 5px;
}

input{
  border-radius: 3px;
  height: 20px;
  border: 0.2px var(--blue-light);
}
input:focus{
  outline-color:var(--blue-light) ;
}
a{
  text-decoration: none;
}
button{
cursor: pointer;
}

.text-small{
  font-size: 11px;
}
.text-bold{
  font-weight: bold;
}
.full {
  width: 100%;
}
.text-white{ color: var(--white);}
.text-blue-deep{ color: var(--blue-deep);}
.text-blue-light{ color: var(--blue-light);}
.text-blue-white{ color: var(--blue-white);} */